.navbar {
  width: 100%;
  background: var(--color-dark);
  padding: 1.2rem 1rem;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
  align-items: center;
}
.title {
  color: var(--color-light);
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.navbar a:not(:first-of-type) {
  margin-left: 1rem;
}
.navbar a {
  color: var(--color-light);
}
